<h1><%= @auction.title %><% if @auction.draft? %> [draft]<%end%></h1>
<p>details: <%= @auction.details %></p>
<p>auction ends: <%= @auction.ends_on.to_formatted_s(:long) %></p>
<p>reserve price: $<%= @auction.reserve_price %></p>
<p>current price: $<%= @auction.current_price %></p>
<p>posted by: <%= "#{@auction.user.firstname} #{@auction.user.lastname}" %></p>
<% if @watch.present? && @watch.persisted? %>
  <%= link_to fa_icon("eye-slash"), auction_watch_path(@auction, @watch), method: :delete %>
<% else %>
  <%= link_to fa_icon("eye"), auction_watches_path(@auction), method: :post %>
<% end %>

<%= link_to 'back', auctions_path %>


<% if @auction.user != current_user && !@auction.draft? %>
<h2>bid</h2>
  <%= simple_form_for [@auction, @bid], :url => auction_bids_path(@auction) do |f| %>
      <%= f.input :amount, as: :string %>
      <%= f.button :submit %>
  <% end %>
<% else %>
  <% if @auction.may_publish? %>
    <%= link_to 'Publish', auction_publishings_path(@auction), method: :post%>
  <% end %>
<% end %>

<h2>bid history</h2>
<% @auction.bids.order('created_at desc').each_with_index do |bid,index| %>
    <% if index == 0 %>
      <p class="first-bid"><strong><%= "> $#{bid.amount} bid by #{bid.user.firstname} #{bid.user.lastname} at #{bid.created_at.to_formatted_s(:long)}" %></strong></p>
    <% else %>
      <p class="bids"><%= "$#{bid.amount} bid by #{bid.user.firstname} #{bid.user.lastname} at #{bid.created_at.to_formatted_s(:long)}" %></p>
    <% end %>
<% end %>
