<h1><%= @auction.title %></h1>
<p><%= @auction.details %></p>
<p><%= @auction.ends_on %></p>
<p><%= @auction.reserve_price %></p>
<p><%= "#{@auction.user.firstname} #{@auction.user.lastname}" %></p>
<%= link_to 'back', auctions_path %>


<% if @auction.user != current_user %>
    !!!!watch this auction!!!!
<h2>bid</h2>
  <%= simple_form_for [@auction, @bid], :url => auction_bids_path(@auction) do |f| %>
      <%= f.input :amount, as: :string %>
      <%= f.button :submit %>
  <% end %>
<% else %>
  <% if @auction.may_publish? %>
    <%= link_to 'Publish', auction_publishings_path(@auction), method: :post%>
  <% end %>
<% end %>

<h2>bid history</h2>
<% @auction.bids.each do |bid| %>
    <p><%= "#{bid.amount} bid by #{bid.user.firstname} #{bid.user.lastname}" %></p>
<% end %>
